@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); } 
@* OrderBy() takes the property to sort by and optionally order desc/asc *@

<ul class="nav navbar-nav">

    @foreach (var item in selection)
    {
        <li role="presentation" class="dropdown"><a href="@item.Url">@item.Name</a></li>
    }
</ul>

