@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
<div id="main-container">
	<div id="main" class ="wrapper clearfix">
		<section>
<h2>@Umbraco.Field("articlesTitle")</h2>
	<p>@Umbraco.Field("articleContents")</p>
		<div class="date">@Umbraco.Field("createDate")</div>
		
		</section>
		</div>
	</div>
