@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@Umbraco.Field("proitemtiitle")
	@Umbraco.Field("proitembodytext")
	<div class="date">
	@Umbraco.Field("createDate")
		</div>
		